# Data Science Tools and Ecosystem

In this notebook, I will summarize data science tools and ecosystems.

__Objectives:__
- List popular data science languages
- List popular data science libraries
- List popular data science tools in a table

The following are some of the most popular languages used in data science:
1. Python
2. R
3. SQL
4. Java

The following are some of the most popular data science libraries:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|---|
|GitHub|
|RStudio IDE|
|Jupyter Notebooks|

### The following cells display examples of arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Fiona Donovan